<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur_platform">

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
  <xacro:arg name="kinematics_config" default="$(find ur_robot_driver)/calibration/my_robot_calibration.yaml"/>
 
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />
  <xacro:include filename="$(find ur_description)/urdf/ur3.urdf.xacro" />
  <xacro:include filename="$(find robotiq_ft_sensor)/urdf/robotiq_ft300.urdf.xacro" />
  <xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_gripper.urdf.xacro" />
  <xacro:include filename="$(find pr2_description)/urdf/common.xacro" />
  <xacro:include filename="$(find pr2_description)/urdf/sensors/kinect2.urdf.xacro" />

  <xacro:ur3_robot prefix="" joint_limited="false"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    kinematics_file="${load_yaml('$(arg kinematics_config)')}"
  />

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.7" rpy="0.0 0.0 0.0" />
  </joint>

  <xacro:robotiq_ft300 prefix="" parent="tool0" >
		<origin xyz="0 0 0" rpy="0 0 0"/> 
	</xacro:robotiq_ft300>

  <xacro:robotiq_85_gripper prefix="" parent="robotiq_ft_frame_id">
    <origin xyz="0 0 0" rpy="${pi/2} ${-pi/2} 0 "/>
  </xacro:robotiq_85_gripper>

  <xacro:kinect2_v0 name="" parent="world" >
    <origin xyz="0.3 0.0 1.2" rpy="0.0 ${pi/2} 0.0" />
  </xacro:kinect2_v0>
</robot>
